In [ ]:
import os
import time
import boto3
import io
import pandas as pd
import sqlalchemy as sa 
from sqlalchemy import  MetaData
from sqlalchemy.orm import sessionmaker
from sqlalchemy.engine.url import URL
from sqlalchemy.schema import MetaData
from sqlalchemy.engine.url import URL
from sqlalchemy.ext.declarative import declarative_base
from dotenv import load_dotenv
from base import OtuCount, FeatureCountExtendedView
import requests
from scipy.spatial.distance import pdist, squareform
import utils
import importlib
importlib.reload(utils)
from io import StringIO
# from sklearn.preprocessing import normalize
# import skbio.diversity
# from utils import df_to_parquet, resp_to_df
# from skbio import DistanceMatrix
# from skbio.stats.ordination import pcoa, pcoa_biplot

In [ ]:
# Cargar variables de entorno
load_dotenv()

In [ ]:

def resp_to_df(resp):
 
    df = pd.read_json(resp)
    return df

def df_to_parquet(df):
 # df_otu_con_project es tu DataFrame
    parquet_buffer = df.to_parquet( engine='pyarrow', compression='snappy')
    return parquet_buffer

In [ ]:
# Configuración de la conexión a la base de datos
def get_engine():
    url = URL.create(
        drivername=os.getenv('DB_DRIVER'),
        host=os.getenv('DB_HOST'),
        port=os.getenv('DB_PORT'),
        database=os.getenv('DB_NAME'),
        username=os.getenv('DB_USER'),
        password=os.getenv('DB_PASSWORD')
    )
    engine =sa.create_engine(url)
    return engine

def client(client):
    return boto3.client(
    client,
    aws_access_key_id=os.getenv('AWS_ACCESS_KEY_ID'),
    aws_secret_access_key=os.getenv('AWS_SECRET_ACCESS_KEY'),
    region_name=os.getenv('S3_REGION')
    )
    
    engine = get_engine()
# Creación de MetaData y Declarative Base
metadata = MetaData()
Base = declarative_base(metadata=metadata)
# Creación de la sesión
Session = sessionmaker(bind=get_engine())
session = Session()
s3 = client('s3')
# Configurar el cliente de Athena
athena_client = client('athena')

In [ ]:
projectid = 'E294'

In [ ]:
cache_key = "_".join(["metadata", projectid])
cache_key

In [ ]:
import requests

url = f'http://localhost:3000/api/metadata/{projectid}'


headers = {
    'Authorization': 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InlELVZ2aGFXVjRCVWhWX2VYSnpmdiJ9.eyJpc3MiOiJodHRwczovL2Rldi13a20wdGtkdC51cy5hdXRoMC5jb20vIiwic3ViIjoiUW9rOWxzZ2duaVFWRDFTV3FUdHZiRmpFMmlRMGxFN09AY2xpZW50cyIsImF1ZCI6Imh0dHBzOi8vc2l3YS5iaW8iLCJpYXQiOjE3MDY0OTMzOTAsImV4cCI6MTcwNjU3OTc5MCwiYXpwIjoiUW9rOWxzZ2duaVFWRDFTV3FUdHZiRmpFMmlRMGxFN08iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMifQ.DzKBMSOjij2TQsAdvdNygMSsG5uObx4p0Bnii-N8RQ0tJcRqjMsdHhkHLXW4d8V-rua2B8-lJ1DiqlfP0n608RAfisNSMg3Jjhp-qSu4KE6fC9OmHHvhbLpt9RrYkgb2KELEtRbE6OQZt8zoebZWxuWDOeBJ6ff-X_I0KQx4629i-89Lj4AUKDkDOoOudyQDu37p-10KxicNTDxYo8g5clSHrqRQqcOLhGwNVBfP6OH8U6qPOZnuW5NBFxVIZ4jHtZXu_m_6i9eCZvA9IivoHp_Y7yx0nZUR1Rin8lU0DBJn1UcyzX750TLWTfCIQmpBLVsjj27_mW3KD3wof4vMlA',
}
response = requests.get(
    url,
    headers=headers,
)


result = response.json()
result

In [ ]:
result["data"]

In [ ]:
df_meta = pd.DataFrame(result["data"])

In [ ]:
df_meta

In [ ]:
resp_parquet = df_to_parquet(df_meta)

In [ ]:
type(resp_parquet)

In [ ]:
def upload_to_s3(bucket_name, object_name, data):
    try:
        s3.put_object(Bucket=bucket_name, Key=object_name, Body=data)
        return {"message": "Archivo subido exitosamente"}
    except Exception as e:
        return {"error": str(e)}

In [ ]:
def read_from_s3(bucket_name, object_name):
    try:
        
        # Lee el archivo desde S3
        response = s3.get_object(Bucket=bucket_name, Key=object_name)

        # Lee los datos del contenido del archivo
        content = response['Body'].read()

        # Puedes convertir los datos en un DataFrame si es un archivo Parquet, por ejemplo
        df = pd.read_csv(io.BytesIO(content))

        return df

    except Exception as e:
        return {"error": str(e)}

In [ ]:
csv = pd.read_csv("E335_extra.csv")
csv

In [ ]:
data = csv.to_csv(index=False)

In [ ]:
print(data)

In [ ]:
data

In [ ]:
bucket_name = "siwaexperiments"
file_name = f"{projectid}/{projectid}_extra.csv"
upload_response = upload_to_s3(bucket_name, file_name, data)

print(upload_response)

In [ ]:
bucket_name = "siwaexperiments"
file_name = f"{projectid}/{projectid}_extra.csv"
upload_response = read_from_s3(bucket_name, file_name)
upload_response = upload_response.rename(columns={'SampleID':'fullSampleId',
                                   })

print(upload_response)

In [ ]:
upload_response

In [ ]:
upload_response

In [ ]:
type(upload_response)

In [ ]:
full_data = df_meta.merge(upload_response, on="fullSampleId", how="left")
full_data

In [ ]:
resp_parquet = df_to_parquet(full_data)

In [ ]:
type(resp_parquet)

In [ ]:
bucket_name = "siwaparquets"
file_name = f"meta/{projectid}.parquet"
upload_response = upload_to_s3(bucket_name, file_name, resp_parquet)

print(upload_response)

In [ ]:
Bearer = 'eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InlELVZ2aGFXVjRCVWhWX2VYSnpmdiJ9.eyJpc3MiOiJodHRwczovL2Rldi13a20wdGtkdC51cy5hdXRoMC5jb20vIiwic3ViIjoiUW9rOWxzZ2duaVFWRDFTV3FUdHZiRmpFMmlRMGxFN09AY2xpZW50cyIsImF1ZCI6Imh0dHBzOi8vc2l3YS5iaW8iLCJpYXQiOjE3MDYyODQ2MzMsImV4cCI6MTcwNjM3MTAzMywiYXpwIjoiUW9rOWxzZ2duaVFWRDFTV3FUdHZiRmpFMmlRMGxFN08iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMifQ.QMyRp9VDIlY5pyS8BlrsEwsvm4kiwSeaXDc_Rrm4RwXDNxUl_FoMVZNHrM-LavP6W_V28hHNUymTudOl7qlABteG8ydv3v4Z4lTrPzdP3xvF75b9jpHxf6SNCRfaFVr8MUSl41H4qCxHErtaXBDix_HzjtMMJhzLfnkKRodmQKH2F-HZlsl2bfc1S7gignANnUglJ6r4qMbyQqpVczNhCX1ONTbKBC05Bnb1BuSfzPoRp-jqxZt6oSXTqtEh9n4UrPdua-SCIcGZGRrEZxLHqHT479lN5ataG0FP7aFURKvQwzTRhlABcP-n5f0WuiWvy6wz-PWk4KFc78pZpDlr8Q'

In [ ]:
print(f"'Bearer {Bearer}'")

In [ ]:
url = f'http://localhost:3000/api/otucount/{projectid}'


headers = {
    'Authorization': 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InlELVZ2aGFXVjRCVWhWX2VYSnpmdiJ9.eyJpc3MiOiJodHRwczovL2Rldi13a20wdGtkdC51cy5hdXRoMC5jb20vIiwic3ViIjoiUW9rOWxzZ2duaVFWRDFTV3FUdHZiRmpFMmlRMGxFN09AY2xpZW50cyIsImF1ZCI6Imh0dHBzOi8vc2l3YS5iaW8iLCJpYXQiOjE3MDY0OTMzOTAsImV4cCI6MTcwNjU3OTc5MCwiYXpwIjoiUW9rOWxzZ2duaVFWRDFTV3FUdHZiRmpFMmlRMGxFN08iLCJndHkiOiJjbGllbnQtY3JlZGVudGlhbHMifQ.DzKBMSOjij2TQsAdvdNygMSsG5uObx4p0Bnii-N8RQ0tJcRqjMsdHhkHLXW4d8V-rua2B8-lJ1DiqlfP0n608RAfisNSMg3Jjhp-qSu4KE6fC9OmHHvhbLpt9RrYkgb2KELEtRbE6OQZt8zoebZWxuWDOeBJ6ff-X_I0KQx4629i-89Lj4AUKDkDOoOudyQDu37p-10KxicNTDxYo8g5clSHrqRQqcOLhGwNVBfP6OH8U6qPOZnuW5NBFxVIZ4jHtZXu_m_6i9eCZvA9IivoHp_Y7yx0nZUR1Rin8lU0DBJn1UcyzX750TLWTfCIQmpBLVsjj27_mW3KD3wof4vMlA',
}
response = requests.get(
    url,
    headers=headers,
)


result_otu = response.json()
result_otu

In [ ]:
otutable = pd.DataFrame(result_otu["data"])
otutable

In [ ]:
def pivotear_datos(df):
    """
    Pivotea los datos de un DataFrame.

    Parámetros:
    df (DataFrame): DataFrame que contiene las columnas 'value', 'otu' y 'sampleId'.

    Devuelve:
    DataFrame: DataFrame pivoteado con 'otu' como índice y 'sampleId' como columnas.
    """

    # Crear una tabla pivote
    datos_pivoteados = (
        df.pivot_table(values='value', index='otu', columns='sampleId')
          .fillna(0)
          .rename_axis(index=None, columns=None)
    )

    # Restablecer el índice
    datos_pivoteados = datos_pivoteados.reset_index()

    return datos_pivoteados

In [ ]:
otu_pivot = pivotear_datos(otutable)
otu_pivot

In [ ]:
otu_parquet = df_to_parquet(otu_pivot)

In [ ]:
bucket_name = "siwaparquets"
file_name = f"otu/{projectid}/{projectid}.parquet"
upload_response = upload_to_s3(bucket_name, file_name, otu_parquet)

print(upload_response)

### Hasta este punto se crearon los archivos en parquet a partir de consultas al endpoint

## Ahora se consultan archivos parquet en s3 con athena

In [ ]:
def create_athena_table(athena_client, formatted_columns, location,projectid, data):
    # Formatear los nombres de las columnas

    # Definir la consulta DDL para crear la tabla
    ddl_query = f"""
        CREATE EXTERNAL TABLE IF NOT EXISTS siwa_adb.tba_{data}_{projectid} (

            {formatted_columns}
        )
        STORED AS PARQUET
        LOCATION {location}
        TBLPROPERTIES ('classification'='parquet');
    """

    # Configurar el bucket de S3 para los resultados de la consulta
    output_location = f's3://siwaparquets/outputAthenas/{projectid}/{data}/'

    # Ejecutar la consulta DDL
    response = athena_client.start_query_execution(
        QueryString=ddl_query,
        ResultConfiguration={
            'OutputLocation': output_location,
        }
    )

    # Obtener el ID de ejecución de la consulta
    query_execution_id = response['QueryExecutionId']

    print(f"ID de ejecución de la consulta: {query_execution_id}")

In [ ]:
formatted_columns = ", ".join([f"{col} double" for col in otu_pivot.columns[1:]])
formatted_columns = "index string, " + formatted_columns
formatted_columns

In [ ]:
otu_pivot.dtypes

In [ ]:
data = "otu"
location = f"'s3://siwaparquets/otu/{projectid}/'"
create_athena_table(athena_client, formatted_columns, location, projectid, data)

In [ ]:
full_data.dtypes

In [ ]:

def format_columns(dataframe):
    formatted_columns = ", ".join([
        f"{col} DOUBLE" if dtype == 'float64' else f"{col} STRING"
        for col, dtype in zip(dataframe.columns, dataframe.dtypes)
    ])
    return formatted_columns


formatted_columns = format_columns(full_data)
formatted_columns

In [ ]:
data = "meta"
location = f"'s3://siwaparquets/meta/'"
create_athena_table(athena_client, formatted_columns, location, projectid, data)

## Ya se crearon las tablas en la base de datos de athena, lo que sigue ahora es consumir de esa base de datos para calcular alpha y beta diversidad

In [ ]:
def read_from_s3(bucket_name, object_name):
    try:
        s3 = boto3.client('s3')
        
        # Lee el archivo desde S3
        response = s3.get_object(Bucket=bucket_name, Key=object_name)

        # Lee los datos del contenido del archivo
        content = response['Body'].read()

        # Puedes convertir los datos en un DataFrame si es un archivo Parquet, por ejemplo
        df = pd.read_parquet(io.BytesIO(content))

        return df

    except Exception as e:
        return {"error": str(e)}

In [ ]:
def run_athena_query(athena_client, query, database, s3_output):
    """
    Ejecuta una consulta SQL en Athena y devuelve el resultado.

    :param athena_client: Cliente de Athena.
    :param query: Consulta SQL a ejecutar.
    :param database: Base de datos de Athena.
    :param s3_output: Ubicación de S3 para los resultados de la consulta.
    :return: Resultado de la consulta o None si la consulta falla.
    """

    # Configuración de la ejecución de la consulta
    query_execution = athena_client.start_query_execution(
        QueryString=query,
        QueryExecutionContext={'Database': database},
        ResultConfiguration={'OutputLocation': s3_output}
    )

    # Esperar a que la consulta se complete
    query_execution_id = query_execution['QueryExecutionId']

    while True:
        # Obtener el estado actual de la ejecución de la consulta
        query_status = athena_client.get_query_execution(
            QueryExecutionId=query_execution_id
        )['QueryExecution']['Status']['State']

        if query_status in ['SUCCEEDED', 'FAILED', 'CANCELLED']:
            break

        print(f"Estado de la consulta: {query_status}. Esperando...")
        time.sleep(5)  # Espera 5 segundos antes de volver a verificar el estado

    if query_status == 'FAILED' or query_status == 'CANCELLED':
        raise Exception(f'La consulta de Athena no se completó. Estado: {query_status}')

    # Utiliza un paginador para manejar los resultados de la consulta
    paginator = athena_client.get_paginator('get_query_results')
    page_iterator = paginator.paginate(QueryExecutionId=query_execution_id)

    # Recorre cada página (cada una con hasta 1000 registros) y procesa los resultados
    all_results = []
    for page in page_iterator:
        for row in page['ResultSet']['Rows']:
            # Procesa cada fila
            all_results.append(row)

    return all_results

In [ ]:
data = 'otu'
projectid = 'E294'
query = f"""SELECT * FROM tba_{data}_{projectid}"""
database = 'siwa_adb'
s3_output = f's3://siwaparquets/outputAthenas/{projectid}/{data}/'
resultados_otu = run_athena_query(athena_client,query, database, s3_output)
resultados_otu

In [ ]:
data = 'meta'
projectid = 'E335'
query = f"""SELECT alphaObserved, alphaShannon, fullSampleId, sampleLocation FROM tba_{data}_{projectid}"""
database = 'siwa_adb'
s3_output = f's3://siwaparquets/outputAthenas/{projectid}/{data}/'
resultados_meta = run_athena_query(athena_client,query, database, s3_output)
resultados_meta

In [ ]:
def convertir_a_dataframe(resultados):
    """
    Convierte una lista de resultados en un DataFrame de Pandas.

    Parámetros:
    resultados (list): Lista de resultados, donde cada resultado es un diccionario con claves 'Data'.

    Devuelve:
    DataFrame: DataFrame de Pandas construido a partir de los resultados.
    """

    # Verificar si la primera fila contiene los nombres de las columnas
    if all('VarCharValue' in d for d in resultados[0]['Data']):
        column_names = [d['VarCharValue'] for d in resultados[0]['Data']]
    else:
        raise KeyError("La primera fila no contiene los nombres de las columnas")

    # Crear una lista de diccionarios para las filas de datos
    rows = []
    for row in resultados[1:]:
        # Verificar si cada fila tiene la clave 'VarCharValue'
        if all('VarCharValue' in d for d in row['Data']):
            row_data = [d['VarCharValue'] for d in row['Data']]
            row_dict = dict(zip(column_names, row_data))
            rows.append(row_dict)
        else:
            # Aquí puedes decidir cómo manejar filas que no tienen 'VarCharValue'
            print("Fila ignorada o incompleta detectada")

    # Crear el DataFrame
    df = pd.DataFrame(rows)
    return df

In [ ]:
otuFinal = convertir_a_dataframe(resultados_otu)
otuFinal

In [ ]:
metaFinal = convertir_a_dataframe(resultados_meta)
metaFinal

In [ ]:
# Crear un objeto DistanceMatrix
dm = DistanceMatrix(otuFinal, ids=etiquetas_muestras)

# Realizar PCoA
pcoa_results = pcoa(dm)

# Obtener las coordenadas PCoA
pcoa_coords = pcoa_results.samples[['PC1', 'PC2']]  # Ajustar según las PCs que quieras visualizar


metaFinal.set_index('SampleID', inplace=True)

# Unir los DataFrames
df_unido = pcoa_coords.merge(metaFinal, left_index=True, right_index=True)

# Mostrar el DataFrame resultante
print(df_unido)